* {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: Helvetica-Neue;
	src: url('helvetica-neue1.ttf');
	src: local(Helvetica-Neue) url('HelveticaNeueLTPro-Th.otf') format("truetype");
}


body {
	background-color: white;
	font-family: Helvetica-Neue;
}

header {
	color: white;
	text-align: center;
	background-color: #16a085;
}

footer {
	color: white;
	text-align: center;
	background-color: #16a085;
}

footer p {
	padding-top: 50px;
	width: 100%;
	font-size: 25px;
}

header h1 {
	padding-top: 50px;
	width: 100%;
	font-size: 38px;
}

a {
	text-decoration: none;
	color: white;

}

a:hover {
	color: #34495e;
}

div.box {
	margin-left: left;
	width: 198px;
	height: 198px;
	padding:10px;
	border:5px solid #1abc9c;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	font-size: 35px;
	background-color: #1abc9c;
	color: white;
}

div.box2 {
	margin-left: left;
	width: 198px;
	height: 198px;
	padding:10px;
	border:5px solid #1abc9c;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	font-size: 35px;
	background-color: #1abc9c;
	color: white;
}

div.box3 {
	margin-left: left;
	width:198px;
	height: 198px;
	padding:10px;
	border:5px solid #1abc9c;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 200px;
	font-size: 35px;
	background-color: #1abc9c;
	color: white;
}

p.content{
	display: none;
}