* {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: Helvetica-Neue;
	src: url('helvetica-neue1.ttf');
	src: local(Helvetica-Neue) url('HelveticaNeueLTPro-Th.otf') format("truetype");
}


body {
	background-color: white;
	font-family: Helvetica-Neue;
}

header {
	color: white;
	text-align: center;
	background-color: #2980b9;
}

footer {
	color: white;
	text-align: center;
	background-color: #2980b9;
}

footer p {
	padding-top: 50px;
	width: 100%;
	font-size: 40px;
}

header h1 {
	padding-top: 50px;
	width: 100%;
	font-size: 59px;
}

a {
	text-decoration: none;
	color: white;

}

a:hover {
	color: #34495e;
}

div.box {
	margin-left: left;
	width: 500px;
	height: 270px;
	padding:10px;
	border:5px solid #3498db;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	font-size: 50px;
	background-color: #3498db;
	color: white;
}

div.box2 {
	margin-left: left;
	width: 500px;
	height: 270px;
	padding:10px;
	border:5px solid #3498db;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	font-size: 50px;
	background-color: #3498db;
	color: white;
}

div.box3 {
	margin-left: left;
	width: 500px;
	height: 270px;
	padding:10px;
	border:5px solid #3498db;	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 200px;
	font-size: 50px;
	background-color: #3498db;
	color: white;
}

p.content {
	font-size: 30px;
}



