* {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: Helvetica-Neue;
	src: url('helvetica-neue1.ttf');
	src: local(Helvetica-Neue) url('HelveticaNeueLTPro-Th.otf') format("truetype");
}

body {
	font-family: Helvetica-Neue;
}

header h1 {
	background-color: #78c2a9;
	color: white;
	font-size: 59px;
	padding-top: 50px;
	padding-left: 30px;
	font-weight: normal;
	text-align: center;
}

table a {
	color: white;
	text-decoration: none;
}
a:hover{
	color: #34495e;
}

table p {
	color: white;
	text-align: center;
	font-size: 40px;
}

table {
	padding-top: 10%;
	padding-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
}

table {
	padding-top: 10%;
	padding-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
}




footer {
	font-family: Helvetica-Neue;
	text-align: center;
	background-color: #78c2a9;
}

footer p {
	color: white;
	padding-top: 50px;
	width: 100%;
	font-size: 40px;
}

footer a{
	color: white;
	text-decoration: none;
}

