* {
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: Helvetica-Neue;
	src: url('helvetica-neue1.ttf');
	src: local(Helvetica-Neue) url('HelveticaNeueLTPro-Th.otf') format("truetype");
}

body {
	font-family: Helvetica-Neue;
}

header h1 {
	background-color: #bdc3c7;
	color: white;
	font-size: 38px;
	padding-top: 50px;
	padding-left: 30px;
	font-weight: normal;
	text-align: center;
}

header h2 {
	color: #bdc3c7;
	font-size: 29px;
	padding-top: 50px;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 50px;
}

table p {
	color: #bdc3c7;
	text-align: center;
	font-size: 25px;
}

div table {
	width: 250px;
  	margin-left: auto;
  	margin-right: auto;
  	padding-bottom: 50px;
}

div.content1 {
	display: none;
}

div.content2 {
	display: none;
}

a {
	color: #bdc3c7;
	text-decoration: none;
}

#soon {
	font-size: 30px;
	color: #bdc3c7;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 150px;
}

footer {
	font-family: Helvetica-Neue;
	text-align: center;
	background-color: #bdc3c7;
}

footer p {
	color: white;
	padding-top: 50px;
	width: 100%;
	font-size: 25px;
}

footer a{
	color: white;
	text-decoration: none;
}